# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://username:password@host:port/database?schema=public"
DATABASE_URL=""

# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://username:password@host:port/database?schema=public"

AUTH_SECRET=""

NEXT_PUBLIC_APP_URL_BASE=""
NEXT_PUBLIC_APP_URL_MOTO_CONFIG=""

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# https://trello.com/1/authorize?expiration=never&name=MyPersonalToken&scope=read,write&response_type=token&key=YOUR_API_KEY
TRELLO_API_KEY=""
TRELLO_API_TOKEN=""

REACT_APP_TRELLO_BOARD_ID=""
REACT_APP_TRELLO_LIST_DEVIS=""
REACT_APP_TRELLO_API_KEY=""
REACT_APP_TRELLO_TOKEN=""

MONGODB_URI=""
MONGODB_DB=""
MONGODB_COLLECTION_PROJECTS=""

TRELLO_LIST_DEVIS=""
TRELLO_LIST_ATTENTE=""
TRELLO_LIST_DESIGN=""
TRELLO_LIST_DATE=""
TRELLO_LIST_COMMAND=""
TRELLO_LIST_TODO=""
TRELLO_LIST_BETWEEN=""
TRELLO_LIST_RUNNING=""
TRELLO_LIST_PAIEMENT=""
TRELLO_LIST_DONE=""
TRELLO_LIST_CANCEL=""